
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: '100%';
    margin: 0;
    background-color: #f9f9f9;
  }
  .container {
    text-align: center; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: white;
    margin-top: 10px;
    width:500px;
  }
  .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .options label {
    display: flex;
    align-items: center;
  }

  .checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .checkboxes label {
    display: flex;
    align-items: center;
  }

  .checkboxes input[type="checkbox"] {
    margin-right: 10px; 
  }
 
  .dropdown  {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  .file-label{
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  button {
    width: 100%;
  }
  .file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
  }
  
  input[type="file"] {
    display: none; 
  }
  .file-label span {
    cursor: pointer;
    color: #007bff; 
    text-decoration: underline;
    margin-right: 10px; 
  }
  .remove-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ff0000; 
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
  .label {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
 
  .radio-label input[type="radio"] {
    margin-right: 10px; 
  }

table {
    border-collapse: collapse;
    width: 100%;
}
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
}
td {
  
    text-align: center;
    padding: 8px;
}


input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/* Odd Rows Background Color */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.button-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }